
  
  .col1{
    width: 20px;
    height: 150px;
    margin-left: 4.3em;
  }
  
  .col2{
    width: 170px;
    height: 420px;
    border-radius: 40px;
    padding: 5px;
  }
  
  .myClass{
    width: 150px;
    height: 130px;
    margin-left: 3px;
    border: 0px;
  }

.selected{
    border: 0px;
    border-radius: 90px;
    background:rgb(182, 155, 155);
    box-shadow: #b0b87f 0px 0px 50px 20px;
  }